p{
    font-weight: bolder;
    font-size: 25px;
    font-family: Arial;
    margin-bottom: none;
}
input{
    width: 250px;
    padding: 12px 16px 12px 16px;
    border: none;
    background-color: rgb(240, 239, 239);
}

.pickup{
    margin-bottom: 10px;
}

.destination{
    display: block;
    margin-bottom: 20px;
}

.request{
    color: white;
    background-color: black;
    border: none;
    padding: 12px 16px 12px 16px;
}

.schedule{
    margin-left: 10px;
    border: none;
    padding: 12px 18px 12px 18px;
}
