input{
font-size: 16px;
border-width: 1px;
padding-top: 14px;
padding-left: 16px;
padding-bottom: 14px;
padding-right: 16px;
border-color: rgb(200, 200, 200);
border-radius: 8px;

}

.first-name{
    width: 148px;
}

.last-name{
    width: 148px;
}

.email{
    width: 334px;
    display: block;
    margin-top: 8px;
}

.sign-up{
    color: white;
    background-color: rgb(63, 60, 201);
    margin-top: 8px;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    width: 365px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}